<div class="tool">
    <div class="tool__content">
        <div class="tool__header">
            <div class="tool__header-first">Easy & Useful
            </div>
            <div class="tool__header-second">Project Manager Tool
            </div>
            <div class="tool__header-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus aliquid sunt minima illo? Totam numquam odit maxime quibusdam, temporibus officia? Eos architecto atque ea repudiandae laboriosam quas. Unde, assumenda illum!
        </div>
        </div>
        <div class="tool__titles">
            <div class="tool__title">
                <img class="tt-img" src="../../img/calendar.png">
                <div class="title-heading">title goes here</div>
                <div class="title-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum blanditiis similique magni architecto quaerat dicta minima quisquam pariatur ipsam voluptates excepturi in soluta, sapiente neque, quasi quod aliquam dolorem sint!</div>
            </div>
            <div class="tool__title">
                <img class="tt-img" src="../../img/person.png">
                <div class="title-heading">titles goes here</div>
                <div class="title-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nulla fuga magnam commodi non mollitia consequatur earum laboriosam accusamus cumque dolore quos sapiente quis labore, nostrum harum in! Blanditiis, reiciendis.</div>
            </div>
            <div class="tool__title">
                <img class="tt-img" src="../../img/worker.png">
                <div class="title-heading">titles goes here</div>
                <div class="title-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus facere dicta saepe quod repellat, iure architecto placeat voluptas at tempora est provident eveniet libero beatae dignissimos sit harum consectetur? Tenetur!</div>
            </div>
        </div>
        <div class="tool__btn">Get started</div>
    </div>
</div>