<div class="menu">
    <a href="#" class="logo">
        <img src="../../img/logo.png" alt="" class="logo__img">
        <div class="logo__text">
            <p>dart</p>
            <p>service manager</p>
        </div>
    </a>
    <nav class="menu__items">
        <ul>
            <li class="menu__item">
                <a href="http://tut.by">Home</a>
            </li>
            <li class="menu__item">
                <a href="http://tut.by">Service</a>
            </li>
            <li class="menu__item">
                <a href="http://tut.by">Extension</a>
            </li>
            <li class="menu__item">
                <a href="http://tut.by">Pricing</a>
            </li>
            <li class="menu__item">
                <a href="http://tut.by">Help</a>
            </li>
        </ul>
    </nav>
    <a href="http://tut.by" class="sign_up">sign up</a>
</div>