@import "../../variables.scss";
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;

    &__items ul {
        display: flex;
    }

    &__item {
        padding: 0px 25px;
        cursor: pointer;
        font-size: 15px;
        line-height: 25px;
        font-weight: 600;

        a {
            color: $color-white;
        }

        &:hover {
            a {
                color: $color-title;
            }
        }
    }
}

.logo {
    display: flex;
    text-decoration: none;

    &__img {
        margin-right: 10px;
    }

    &__text {
        color: $color-white;
        text-transform: uppercase;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p:first-child {
            font-weight: 400;
        }

        p:last-child {
            font-weight: 700;
            padding-top: 5px;
        }
    }
}

.sign_up {
    width: 80px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    color: $color-white;
    cursor: pointer;
}
