<div class="team">
    <div class="team__content">
        <div class="team-title">our team</div>
        <div class="team-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure harum expedita
            veniam consequatur, deleniti sit a natus tempora laboriosam. Ratione excepturi sequi libero, in dolorum
            possimus non voluptate quisquam commodi!</div>
        <div class="slider">
            <div class="slide">
                <div class="child-element">
                    <img class="photo" src="../../img/photo.png">
                    <div class="about-us">
                        <div class="name">sophie turner</div>
                        <div class="name-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
                            dolores exercitationem id. Eligendi, perferendis magni cupiditate ea, aut consectetur dolore
                            perspiciatis at sint, quia repellat quasi earum iste fugiat eaque.</div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="child-element">
                    <img class="photo" src="../../img/photo.png">
                    <div class="about-us">
                        <div class="name">sophie turner</div>
                        <div class="name-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
                            dolores exercitationem id. Eligendi, perferendis magni cupiditate ea, aut consectetur dolore
                            perspiciatis at sint, quia repellat quasi earum iste fugiat eaque.</div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="child-element">
                    <img class="photo" src="../../img/photo.png">
                    <div class="about-us">
                        <div class="name">sophie turner</div>
                        <div class="name-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
                            dolores exercitationem id. Eligendi, perferendis magni cupiditate ea, aut consectetur dolore
                            perspiciatis at sint, quia repellat quasi earum iste fugiat eaque.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-social">
        <a href="http://tut.by" class="fa fa-twitter"></a>
        <a href="http://tut.by" class="fa fa-facebook"></a>
        <a href="http://tut.by" class="fa fa-linkedin"></a>
    </div>
</div>
