<div class="footer-bg">
    <div class="footer">
        <a href="http://tut.by" class="footer__logo">
            <img src="../../img/logo.png" alt="" class="logo__img">
            <div class="footer__logo__text">
                <p>dart</p>
                <p>service manager</p>
            </div>
        </a>
        <nav class="footer__items">
            <ul>
                <li class="footer__item">
                    <a href="http://tut.by">Home</a>
                </li>
                <li class="footer__item">
                    <a href="http://tut.by">Service</a>
                </li>
                <li class="footer__item">
                    <a href="http://tut.by">Extension</a>
                </li>
                <li class="footer__item">
                    <a href="http://tut.by">Pricing</a>
                </li>
                <li class="footer__item">
                    <a href="http://tut.by">Help</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="footer-2nd-line">
        <div class="about">
            <a href="http://tut.by" class="about-text">privacy policy</a>
            <a href="http://tut.by" class="about-text">about us</a>
            <a href="http://tut.by" class="about-text">about us</a>
        </div>
        <div class="social">
            <a href="http://tut.by" class="fa fa-twitter"></a>
            <a href="http://tut.by" class="fa fa-facebook"></a>
            <a href="http://tut.by" class="fa fa-linkedin"></a>
        </div>
    </div>
</div>