<div class="services">
    <div class="services__content">
        <div class="services__header">
            <div class="services__header-title">services</div>
            <div class="services__header-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                nemo aut omnis! Praesentium, reprehenderit</div>
        </div>
        <div class="services__accordion">
            <input class="accordion-status" id="accordion" type="checkbox">
            <label for="accordion" class="accordion-opener">
                <div class="acc-icon">
                    <span class="material-icons">
                        trending_up
                    </span>
                    <span class="accordion-title">statistics</span>
                </div>
            </label>
            <div class="accordion-content">
                <img class="acc-pic" src="../../img/acc_pic.png">
                <div class="acc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptates aperiam inventore quisquam deserunt, repellendus deleniti facere sed laboriosam, consectetur hic tempore, repellat quidem. Consequatur asperiores vel beatae provident nemo.</div>
            </div>
        </div>

        <div class="services__accordion">
            <input class="accordion-status" id="accordion2" type="checkbox">
            <label for="accordion2" class="accordion-opener">
                <div class="acc-icon">
                    <span class="material-icons">
                        email
                    </span>
                    <span class="accordion-title">inbox</span>
                </div>
            </label>
            <div class="accordion-content">
                <img class="acc-pic" src="../../img/acc_pic.png">
                <div class="acc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptates aperiam inventore quisquam deserunt, repellendus deleniti facere sed laboriosam, consectetur hic tempore, repellat quidem. Consequatur asperiores vel beatae provident nemo.</div>
            </div>
        </div>

        <div class="services__accordion">
            <input class="accordion-status" id="accordion3" type="checkbox">
            <label for="accordion3" class="accordion-opener">
                <div class="acc-icon">
                    <span class="material-icons">
                        group
                    </span>
                    <span class="accordion-title">team</span>
                </div>
            </label>
            <div class="accordion-content">
                <img class="acc-pic" src="../../img/acc_pic.png">
                <div class="acc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptates aperiam inventore quisquam deserunt, repellendus deleniti facere sed laboriosam, consectetur hic tempore, repellat quidem. Consequatur asperiores vel beatae provident nemo.</div>
            </div>
        </div>

        <div class="services__accordion">
            <input class="accordion-status" id="accordion4" type="checkbox">
            <label for="accordion4" class="accordion-opener">
                <div class="acc-icon">
                    <span class="material-icons">
                        settings
                    </span>
                    <span class="accordion-title">settings</span>
                </div>
            </label>
            <div class="accordion-content">
                <img class="acc-pic" src="../../img/acc_pic.png">
                <div class="acc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptates aperiam inventore quisquam deserunt, repellendus deleniti facere sed laboriosam, consectetur hic tempore, repellat quidem. Consequatur asperiores vel beatae provident nemo.</div>
            </div>
        </div>

        <div class="services__accordion">
            <input class="accordion-status" id="accordion5" type="checkbox">
            <label for="accordion5" class="accordion-opener">
                <div class="acc-icon">
                    <span class="material-icons">
                        rss_feed
                    </span>
                    <span class="accordion-title">feed</span>
                </div>
            </label>
            <div class="accordion-content">
                <img class="acc-pic" src="../../img/acc_pic.png">
                <div class="acc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptates aperiam inventore quisquam deserunt, repellendus deleniti facere sed laboriosam, consectetur hic tempore, repellat quidem. Consequatur asperiores vel beatae provident nemo.</div>
            </div>
        </div>
    </div>
</div>