<div class="services">
    <div class="services__content">
        <div class="services__header">
            <div class="services__header-title">services</div>
            <div class="services__header-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                nemo aut omnis! Praesentium, reprehenderit</div>
        </div>
        <div class="services__accordion">
            <input class="accordion-status" id="accordion" type="checkbox">
            <label for="accordion" class="accordion-opener">
                <div class="acc-icon">
                    <span class="material-icons">
                        trending_up
                    </span>
                    <span class="accordion-title">statistics</span>
                </div>
            </label>

            <div class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sit culpa
                atque aut ratione doloribus mollitia minus voluptas soluta omnis voluptatum perspiciatis nihil itaque
                dolorum blanditiis quaerat, accusamus laudantium fugiat.</div>
        </div>
    </div>
</div>