<div class="services">
    <div class="services__content">
        <div class="services__header">
            <div class="services__header-title">services</div>
            <div class="services__header-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                nemo aut omnis! Praesentium, reprehenderit</div>
        </div>
        <div class="services__accordion">
            <div class="accordion-section">1</div>
            <div class="accordion-section">2</div>
            <div class="accordion-section">3</div>
            <div class="accordion-section">4</div>
            <div class="accordion-section">5</div>
        </div>
    </div>
</div>