.services {
    padding: 100px 80px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__header {
        text-align: center;
    }

    .services__header-title {
        font-size: 45px;
        color: $color-title;
        font-weight: 600;
        text-transform: capitalize;
    }

    .services__header-description {
        font-size: 15px;
        line-height: 25px;
        color: $color-description;
        font-weight: 400;
        width: 70%;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 50px;

    }

    &__accordion {
        width: 800px;
        padding: 25px 25px 0 25px;
        margin-bottom: 25px;
        border-radius: 5px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    }

    .accordion-content {
        overflow: hidden;
        display: flex;
    }

    .acc-text {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 25px;
        color: &color-title;
        font-weight: 400;
        padding-left: 25px;
    }

    .acc-pic {
        border-radius: 10px;
        margin-bottom: 25px;
    }

    .accordion-opener {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        color: $color-title;
        margin-bottom: 25px;
    }
     
    .accordion-opener:after {
        content: '\e5c5';
        font-family: 'Material Icons';
        font-size: 25px;
        line-height: 25px;
        text-align: center;
        transition: transform .5s ease;
    }

    .material-icons {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }

    .acc-icon {
        display: flex;
        align-items: center;
    }

    .accordion-title {
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        padding-left: 25px;
        text-transform: uppercase;
    }

    .accordion-status {
        display: none;
    }

    .accordion-status ~ .accordion-content {
        max-height: 0;
        transition: max-height .5s ease;
    }

    .accordion-status:checked ~ .accordion-content {
        max-height: 180px;
        transition: max-height .5s ease;
    }

    .accordion-status:checked ~ .accordion-opener:after {
        transform: rotate(180deg);
    }
}