<div class="hero">
    <div class="hero__content">
        <div class="hero__title">Lorem ipsum, dolor sit amet</div>
        <div class="hero__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit est minus ipsum ratione at, magnam assumenda veniam atque et repellat ut nihil recusandae quia quo necessitatibus nam commodi modi aspernatur.</div>
        <div class="hero__buttons">
            <ul>
                <li class="hero__btn">
                    <a href="http://tut.by">buy now</a>
                </li>
                <li class="hero__btn">
                    <a href="http://tut.by">try for free</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="hero__video">
        <video>
            <source src="#">
        </video>
        <div class="play">
            <img class="play__btn" src="../../img/play.png">
            <img class="play__triangle" src="../../img/triangle.png">
            <div class="play__description">
                watch the video
            </div>
        </div>
    </div>
</div>