@import "../../variables.scss";
.hero {
    display: flex; 
    justify-content: space-between;
    padding: 0 80px;

    &__content {
        padding-top: 110px;
        padding-bottom: 115px;
        color: $color-white;
        max-width: 580px;
    }

    &__title {
        font-size: 55px;
        line-height: 65px;
        font-weight: 800;
        text-transform: uppercase;
    }

    &__description {
        padding-top: 28px;
        font-size: 18px;
        line-height: 35px;
        font-weight: 400;
    }

    &__buttons ul {
        display: flex;

        li:first-child {
            margin-right: 30px;
            background-color: $color-title;
            a {
                color: $color-white;
                font-family: Roboto;
                font-weight: 400;
            }
        }

        li:last-child {
            background-color: $color-white;
            a {
                color: $color-title;
                font-weight: 700;
            }
        }
    }

    &__btn {
        margin-top: 40px;
        cursor: pointer;
        padding: 20px 40px;
        border-radius: 5px;
        font-size: 15px;
        text-transform: uppercase;
        filter: drop-shadow(0px 5px 2.5px rgba(0,0,0,0.15));        
    }

    &__video {
        display: flex;
        align-items: center;
        position: relative;
        video {
            cursor: pointer;
            width: 600px;
            height: 320px;
            background-image:url(../../img/video2.png), url(../../img/video.png);
            filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.2));
            background-size: contain;
            border: 1px solid #061e37;
            box-sizing: border-box;
            border-radius: 5px;
            }
        }

        .play {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &__btn {
                height: 60px;
                width: 60px;
                filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.2));
            }

            &__triangle {
                position: absolute;
                top: 17px;
            }

            &__description {
                font-size: 12px;
                color: $color-title;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                margin-top: 20px;
            }
        }
    }
