<div class="review">
    <div class="review__content">
        <h2 class="review-title">What our customers have to say abour us.</h2>
        <div class="review-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores vitae
            quibusdam possimus atque dolorum ad tempore maxime hic corrupti saepe. Debitis at numquam nobis perspiciatis
            consequatur ex rerum dolores cumque!</div>
        <div class="review-button">get started</div>
    </div>
    <div class="review__customers">
        <div class="slick-vertical">
            <div class="slider-content">
                <img class="avatar" src="../../img/avatar1.png">
                <div class="block-review">
                    <div class="user-name">john doe</div>
                    <div class="user-review">hjgjg</div>
                </div>
            </div>
            <div class="slider-content">
                <img class="avatar" src="../../img/avatar2.png">
                <div class="block-review">
                    <div class="user-name">khalessi</div>
                    <div class="user-review"></div>
                </div>
            </div>
            <div class="slider-content">
                <img class="avatar" src="../../img/avatar1.png">
                <div class="block-review">
                    <div class="user-name">jon snow</div>
                    <div class="user-review"></div>
                </div>
            </div>
            <div class="slider-content">
                <img class="avatar" src="../../img/avatar2.png">
                <div class="block-review">
                    <div class="user-name">iren</div>
                    <div class="user-review"></div>
                </div>
            </div>  
          </div>
    </div>
</div>