<div class="counts">
    <div class="counts__rectangle">
        <div class="count-content">
            <div class="count-circle">
                <span class="material-icons">
                    business
                    </span>
            </div>
            <div class="count-counter">
                <span>12000+</span>
                <span>business</span>
            </div>
        </div>
    </div>
    <div class="counts__rectangle">
        <div class="count-content">
            <div class="count-circle">
                <span class="material-icons">
                    get_app
                    </span>
            </div>
            <div class="count-counter">
                <span>60000+</span>
                <span>downloads</span>
            </div>
        </div>
    </div>
    <div class="counts__rectangle">
        <div class="count-content">
            <div class="count-circle">
                <span class="material-icons">
                    person
                    </span>
            </div>
            <div class="count-counter">
                <span>30000+</span>
                <span>free installs</span>
            </div>
        </div>
    </div>
    <div class="counts__rectangle">
        <div class="count-content">
            <div class="count-circle">
                <span class="material-icons">
                    get_app
                    </span>
            </div>
            <div class="count-counter">
                <span>40000+</span>
                <span>pro users</span>
            </div>
        </div>
    </div>


</div>