<div class="counts">
    <div class="counts__rectangle">
        <div class="count-content">
            <div class="count-circle"></div>
            <div class="count-counter">12000+ business</div>
        </div>
    </div>
    <div class="counts__rectangle">
        <div class="count-content">
            <div class="count-circle"></div>
            <div class="count-counter">60000+ downloads</div>
        </div>
    </div>
    <div class="counts__rectangle">
        <div class="count-content">
            <div class="count-circle"></div>
            <div class="count-counter">30000+ free installs</div>
        </div>
    </div>
    <div class="counts__rectangle">
        <div class="count-content">
            <div class="count-circle"></div>
            <div class="count-counter">40000+ pro users</div>
        </div>
    </div>


</div>