<div class="contact">
    <div class="contact__content">
        <div class="contact-title">contact us</div>
        <div class="contact-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt tempore
            cupiditate, voluptas ullam optio, accusantium possimus fugiat enim, beatae rerum officiis. Fugit facere
            commodi perspiciatis ullam hic excepturi praesentium molestiae.</div>

        <form class="feedback" action="http://tut.by" method="POST">
            <label for="send-btn" class="line">
                <input type="text" class="input" placeholder="First Name">
                <input type="text" class="input" placeholder="Last Name">
            </label>

            <label for="send-btn" class="line">
                <input type="email" class="input" placeholder="Email">
                <input type="text" class="input" placeholder="Phone">
            </label>

            <label for="send-btn" class="line2">
                <textarea type="text" class="message" placeholder="Message"></textarea>
            </label>

            <label for="send-btn" class="line3">
                <div class="subscribe">
                    <input type="checkbox" id="checkbox">subscribe to the newsletter
                </div>
                <div class="send">
                    <button class="send-btn">send</button>
                </div>
            </label>

        </form>
    </div>
</div>