body * {
  outline: 1px solid lightgrey;
}
.rectangle2 {
  position: absolute;
  width: 199px;
  height: 49px;
  margin: 26px 141px 623px 141px;
  background: #358765;
}
.rectangle3 {
  position: absolute;
  width: 153px;
  height: 116px;
  margin: 109px 275px 473px 53px;
  background: #588924;
}
.rectangle4 {
  position: absolute;
  width: 153px;
  height: 116px;
  margin: 109px 54px 473px 274px;
  background: #588924;
}
.rectangle6 {
  position: absolute;
  width: 147px;
  height: 147px;
  margin: 259px 315px 292px 19px;
  background: #ee2525;
}
.rectangle7 {
  position: absolute;
  width: 147px;
  height: 147px;
  margin: 259px 167px 292px 167px;
  background: #2d4bb5;
}
.rectangle8 {
  position: absolute;
  width: 147px;
  height: 147px;
  margin: 259px 19px 292px 315px;
  background: #edf111;
}
.rectangle9 {
  position: absolute;
  width: 442px;
  height: 55px;
  margin: 440px 20px 203px 19px;
  background: #c4c4c4;
}
.maincontent {
  position: absolute;
  width: 442px;
  height: 469px;
  margin: 26px 20px 203px 19px;
  background: #ffffff;
}
.rectangle1 {
  position: absolute;
  width: 481px;
  height: 698px;
  background: #ffffff;
}