body * {
  outline: 1px solid lightgrey;
}

.menu-item {
  position: relative;
  display: inline-block;
}

.menu-item__button {
  width: 80px;
  height: 80px;
  background-color: green;
}


.menu-item__items {
  position: absolute;
  left: 0%;
  top: 100%;
  display: none;
  padding-left: 100%;
}


.items {
  background-color: indigo;
  width: 80px;
  height: 150px;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-item:hover .menu-item__items {
  display: block;
}

.main {
  height: 80vh;
  background-color: khaki;
  display: flex;
  justify-content: center;
  align-items: center;
}